apessentials/src/main/app/apessentials.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">
    <http:listener-config name="Rest_HTTP_Listener_Configuration" host="0.0.0.0" port="8081" basePath="rest" doc:name="HTTP Listener Configuration"/>
    <http:listener-config name="Service_HTTP_Listener_Configuration" host="0.0.0.0" port="8082" basePath="service" doc:name="HTTP Listener Configuration"/>
    <http:listener-config name="soap_HTTP_Listener_Configuration" host="0.0.0.0" port="8083" basePath="/soap" doc:name="HTTP Listener Configuration"/>
    <ws:consumer-config name="Web_Service_Consumer" service="Calculator" port="CalculatorSoap" serviceAddress="http://www.dneonline.com/calculator.asmx" wsdlLocation="C:\Users\manoj.asokaa\Downloads\calculator.wsdl" doc:name="Web Service Consumer"/>
    <http:request-config name="HTTP_Request_Configuration" protocol="HTTP" host="localhost" port="8082" basePath="service" doc:name="HTTP Request Configuration"/>
    <flow name="service">
        <http:listener config-ref="Service_HTTP_Listener_Configuration" path="/hello" allowedMethods="GET" doc:name="HTTP"/>
        <set-payload value="#['HELLO WORLD']" doc:name="Set Payload"/>
    </flow>
    <flow name="consumeRest">
        <http:listener config-ref="Rest_HTTP_Listener_Configuration" path="/" allowedMethods="GET" doc:name="HTTP"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/hello" method="GET" doc:name="HTTP"/>
    </flow>
    <flow name="consumeSoap">
        <http:listener config-ref="soap_HTTP_Listener_Configuration" path="/consume" allowedMethods="GET" doc:name="HTTP"/>
        <set-payload value="&lt;soapenv:Envelope xmlns:soapenv=&quot;http://schemas.xmlsoap.org/soap/envelope/&quot; xmlns:tem=&quot;http://tempuri.org/&quot;&gt;
   &lt;soapenv:Header/&gt;
   &lt;soapenv:Body&gt;
      &lt;tem:Add&gt;
         &lt;tem:intA&gt;1&lt;/tem:intA&gt;
         &lt;tem:intB&gt;22&lt;/tem:intB&gt;
      &lt;/tem:Add&gt;
   &lt;/soapenv:Body&gt;
&lt;/soapenv:Envelope&gt;" doc:name="Set Payload"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <ws:consumer config-ref="Web_Service_Calculator" operation="Add" doc:name="Web Service Consumer"/>
    </flow>
</mule>
